/* Test grid styles
*******************************************************************************/
.test--grids .grid {
    border: 1px solid magenta;
}

.test--grids .grid-cell {
    border: 1px solid cyan;
}

.test-example .grid--cell-count .grid-cell {
    counter-increment: grid-cells;
}

.test-example .grid--cell-count .grid-cell:before {
    content: counter(grid-cells);
    border-radius: 4px;
    padding: 2px 4px;
    position: relative;
    background-color: rgba(208,223,255,0.9);
    font-size: 9px;
    color: gray;
}

.test-example .grid--cell-classes .grid-cell:after {
    content: attr(class);
    border-radius: 4px;
    padding: 2px 4px;
    position: relative;
    right: 2px;
    background-color: rgba(249, 242, 244, .9);
    font-size: 9px;
    color: #c7254e;
}