.grid {
    width: 100%; /* make sure that g--fit'ed .grid elements span the entire width */
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none;
}

.grid--y {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.grid-cell,
.grid > .grid {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1 ;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;

    /* flex-wrap: wrap; */
}


.g--fit {
    -webkit-box-flex: 0 !important;
    -moz-box-flex: 0 !important;
    -webkit-flex: 0 0 auto !important;
    -ms-flex: 0 0 auto !important;
    flex: 0 0 auto !important;
}

.g--wrap {
    -webkit-box-flex: 0 !important;
    -moz-box-flex: 0 !important;
    -webkit-flex: 0 0 auto !important;
    -ms-flex: 0 0 auto !important;
    flex: 0 0 auto !important;

    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}


/*
[class*="g--space"] > .grid-cell {
    margin: 0 4px;
}

[class*="g--space"] > .grid-cell:first-child {
    margin-left: 0;
}

[class*="g--space"] > .grid-cell:last-child {
    margin-right: 0;
}
*/


/*: Alignment
**********************************/
.g--main-start {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.g--main-center {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: flex-center;
    -ms-flex-pack: center;
    justify-content: flex-center;
}

.g--main-end {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.g--cross--start {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.g--cross--center {
    -webkit-align-self: flex-center;
    -ms-flex-item-align: center;
    align-self: flex-center;
}

.g--cross--end {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}


/*: Individual Grid Cell Sizes
**********************************/
.g--1of2,
.g--2of4 {
    width: 50% !important;
    -webkit-flex: none !important;
    flex: none !important;
}

.g--1of3 {
    width: 33.333% !important;
    -webkit-flex: none !important;
    flex: none !important;
}

.g--1of4 {
    width: 25% !important;
    -webkit-flex: none !important;
    flex: none !important;
}

