/*******************************************************************************
CSS3 FLEXBOX GRID SYSTEM

Source: https://github.com/adambarry/Flexbox-Grid

*******************************************************************************/
/* GENERAL STYLES
*******************************************************************************/
html {
  height: 100%;
}
/* CORE STYLES AND UTILITY CLASSES FOR GRID ELEMENTS
*******************************************************************************/
.grid {
  max-width: 100%;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex !important;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  list-style: none;
}
.grid > .grid,
.grid-cell {
  max-width: 100%;
  position: relative;
  -webkit-box-flex: 1 1 0px;
  -webkit-flex: 1 1 0px;
  -moz-box-flex: 1 1 0px;
  -ms-flex: 1;
  flex: 1 1 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
.grid[class*="grid--y"] > .grid,
.grid[class*="grid--y"] > .grid-cell {
  -webkit-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.grid--y {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.grid--wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.grid--main-start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.grid--main-center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.grid--main-end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.grid--main-space-between {
  -webkit-box-pack: space-between;
  -moz-box-pack: space-between;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.grid--main-space-around {
  -webkit-box-pack: space-around;
  -moz-box-pack: space-around;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.grid--cross-start {
  -webkit-align-items: start;
  -ms-flex-align: start;
  align-items: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.grid--cross-center {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.grid--cross-stretch {
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.grid--cross-baseline {
  -webkit-align-items: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.grid--cross-end {
  -webkit-align-items: end;
  -ms-flex-align: end;
  align-items: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
.grid--stretch-height {
  height: 100%;
}
body.grid--SITE {
  min-height: 100%;
}
body.grid--SPA {
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.grid--gutters:not(.grid--y) > .grid,
.grid--gutters:not(.grid--y) > .grid-cell {
  margin: 8px 4px;
}
.grid--gutters:not(.grid--y) > .grid:first-child,
.grid--gutters:not(.grid--y) > .grid-cell:first-child {
  margin-left: 8px;
}
.grid--gutters:not(.grid--y) > .grid:last-child,
.grid--gutters:not(.grid--y) > .grid-cell:last-child {
  margin-right: 8px;
}
.grid--gutters[class*="grid--y"] > .grid,
.grid--gutters[class*="grid--y"] > .grid-cell {
  margin: 4px 8px;
}
.grid--gutters[class*="grid--y"] > .grid:first-child,
.grid--gutters[class*="grid--y"] > .grid-cell:first-child {
  margin-top: 8px;
}
.grid--gutters[class*="grid--y"] > .grid:last-child,
.grid--gutters[class*="grid--y"] > .grid-cell:last-child {
  margin-bottom: 8px;
}
.grid--gutters-edge:not(.grid--y) > .grid,
.grid--gutters-edge:not(.grid--y) > .grid-cell {
  margin-top: 8px;
  margin-bottom: 8px;
}
.grid--gutters-edge:not(.grid--y) > .grid:first-child,
.grid--gutters-edge:not(.grid--y) > .grid-cell:first-child {
  margin-left: 8px !important;
}
.grid--gutters-edge:not(.grid--y) > .grid:last-child,
.grid--gutters-edge:not(.grid--y) > .grid-cell:last-child {
  margin-right: 8px !important;
}
.grid--gutters-edge[class*="grid--y"] > .grid,
.grid--gutters-edge[class*="grid--y"] > .grid-cell {
  margin-right: 8px;
  margin-left: 8px;
}
.grid--gutters-edge[class*="grid--y"] > .grid:first-child,
.grid--gutters-edge[class*="grid--y"] > .grid-cell:first-child {
  margin-top: 8px !important;
}
.grid--gutters-edge[class*="grid--y"] > .grid:last-child,
.grid--gutters-edge[class*="grid--y"] > .grid-cell:last-child {
  margin-bottom: 8px !important;
}
.grid--gutters-main:not(.grid--y) > .grid:first-child,
.grid--gutters-main:not(.grid--y) > .grid-cell:first-child {
  margin-left: 8px !important;
}
.grid--gutters-main:not(.grid--y) > .grid:last-child,
.grid--gutters-main:not(.grid--y) > .grid-cell:last-child {
  margin-right: 8px !important;
}
.grid--gutters-main[class*="grid--y"] > .grid:first-child,
.grid--gutters-main[class*="grid--y"] > .grid-cell:first-child {
  margin-top: 8px !important;
}
.grid--gutters-main[class*="grid--y"] > .grid:last-child,
.grid--gutters-main[class*="grid--y"] > .grid-cell:last-child {
  margin-bottom: 8px !important;
}
.grid--gutters-cross:not(.grid--y) > .grid,
.grid--gutters-cross:not(.grid--y) > .grid-cell {
  margin-top: 8px;
  margin-bottom: 8px;
}
.grid--gutters-cross[class*="grid--y"] > .grid,
.grid--gutters-cross[class*="grid--y"] > .grid-cell {
  margin-right: 8px;
  margin-left: 8px;
}
.grid--gutters-between:not(.grid--y) > .grid,
.grid--gutters-between:not(.grid--y) > .grid-cell {
  margin-right: 4px;
  margin-left: 4px;
}
.grid--gutters-between:not(.grid--y) > .grid:first-child,
.grid--gutters-between:not(.grid--y) > .grid-cell:first-child {
  margin-left: 0;
}
.grid--gutters-between:not(.grid--y) > .grid:last-child,
.grid--gutters-between:not(.grid--y) > .grid-cell:last-child {
  margin-right: 0;
}
.grid--gutters-between[class*="grid--y"] > .grid,
.grid--gutters-between[class*="grid--y"] > .grid-cell {
  margin-top: 4px;
  margin-bottom: 4px;
}
.grid--gutters-between[class*="grid--y"] > .grid:first-child,
.grid--gutters-between[class*="grid--y"] > .grid-cell:first-child {
  margin-top: 0;
}
.grid--gutters-between[class*="grid--y"] > .grid:last-child,
.grid--gutters-between[class*="grid--y"] > .grid-cell:last-child {
  margin-bottom: 0;
}
/* UTILITY CLASSES FOR GRID AND GRID-CELL ELEMENTS
*******************************************************************************/
.g--gutter {
  margin: 8px;
}
.g--gutter-x {
  margin-right: 8px !important;
  margin-left: 8px !important;
}
.g--gutter-y {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
:not(.grid--y) > .g--gutter-main {
  margin-right: 8px !important;
  margin-left: 8px !important;
}
[class*="grid--y"] > .g--gutter-main {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
:not(.grid--y) > .g--gutter-cross {
  margin-top: 8px !important;
  margin-bottom: 8px !important;
}
[class*="grid--y"] > .g--gutter-cross {
  margin-right: 8px !important;
  margin-left: 8px !important;
}
.g--gutter-top {
  margin-top: 8px !important;
}
.g--gutter-right {
  margin-right: 8px !important;
}
.g--gutter-bottom {
  margin-bottom: 8px !important;
}
.g--gutter-left {
  margin-left: 8px !important;
}
.g--fit {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 0 auto !important;
  -ms-flex: 0 0 auto !important;
  flex: 0 0 auto !important;
}
.g--shrink {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.g--wrap {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 0 auto !important;
  -ms-flex: 0 0 auto !important;
  flex: 0 0 auto !important;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.g--cross-start {
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
}
.g--cross-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.g--cross-stretch {
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}
.g--cross-baseline {
  -webkit-align-self: baseline;
  -ms-flex-item-align: baseline;
  align-self: baseline;
}
.g--cross-end {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
:not(.grid--y) > .g--1of6 {
  max-width: 16.667%;
  /*
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
*/
  -webkit-flex-basis: 16.667%;
  -ms-flex: 1 0 16.667%;
  flex-basis: 16.667%;
  max-width: calc(16.66666667%);
  /*
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
*/
  -webkit-flex-basis: calc(16.66666667%);
  -ms-flex: 1 0 calc(16.66666667%);
  flex-basis: calc(16.66666667%);
}
:not(.grid--y) > .g--1of5 {
  max-width: 20%;
  /*
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
*/
  -webkit-flex-basis: 20%;
  -ms-flex: 1 0 20%;
  flex-basis: 20%;
}
:not(.grid--y) > .g--1of4 {
  max-width: 25%;
  /*
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
*/
  -webkit-flex-basis: 25%;
  -ms-flex: 1 0 25%;
  flex-basis: 25%;
}
:not(.grid--y) > .g--1of3 {
  max-width: 33.333%;
  /*
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
*/
  -webkit-flex-basis: 33.333%;
  -ms-flex: 1 0 33.333%;
  flex-basis: 33.333%;
  max-width: calc(33.33333333%);
  /*
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
*/
  -webkit-flex-basis: calc(33.33333333%);
  -ms-flex: 1 0 calc(33.33333333%);
  flex-basis: calc(33.33333333%);
}
:not(.grid--y) > .g--1of2,
:not(.grid--y) > .g--2of4,
:not(.grid--y) > .g--3of6,
:not(.grid--y) > .g--4of8,
:not(.grid--y) > .g--5of10,
:not(.grid--y) > .g--6of12 {
  max-width: 50%;
  /*
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
*/
  -webkit-flex-basis: 50%;
  -ms-flex: 1 0 50%;
  flex-basis: 50%;
}
:not(.grid--y) > .g--2of3 {
  max-width: 66.666%;
  /*
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
*/
  -webkit-flex-basis: 66.666%;
  -ms-flex: 1 0 66.666%;
  flex-basis: 66.666%;
  max-width: calc(66.66666667%);
  /*
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
*/
  -webkit-flex-basis: calc(66.66666667%);
  -ms-flex: 1 0 calc(66.66666667%);
  flex-basis: calc(66.66666667%);
}
:not(.grid--y) > .g--3of4 {
  max-width: 75%;
  /*
        -webkit-flex: 1 !important;
        -ms-flex: 1 !important;
        flex: 1 !important;
*/
  -webkit-flex-basis: 75%;
  -ms-flex: 1 0 75%;
  flex-basis: 75%;
}
[class*="grid--y"] > .g--1of6 {
  max-height: 16.667%;
  /*
-webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important;
*/
  flex-basis: 16.667%;
  max-height: calc(16.66666667%);
  /*
-webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important;
*/
  flex-basis: calc(16.66666667%);
}
[class*="grid--y"] > .g--1of5 {
  max-height: 20%;
  /*
-webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important;
*/
  flex-basis: 20%;
}
[class*="grid--y"] > .g--1of4 {
  max-height: 25%;
  /*
-webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important;
*/
  flex-basis: 25%;
}
[class*="grid--y"] > .g--1of3 {
  max-height: 33.333%;
  /*
-webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important;
*/
  flex-basis: 33.333%;
  max-height: calc(33.33333333%);
  /*
-webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important;
*/
  flex-basis: calc(33.33333333%);
}
[class*="grid--y"] > .g--1of2,
[class*="grid--y"] > .g--2of4,
[class*="grid--y"] > .g--3of6,
[class*="grid--y"] > .g--4of8,
[class*="grid--y"] > .g--5of10,
[class*="grid--y"] > .g--6of12 {
  max-height: 50%;
  /*
-webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important;
*/
  flex-basis: 50%;
}
[class*="grid--y"] > .g--2of3 {
  max-height: 66.667%;
  /*
-webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important;
*/
  flex-basis: 66.667%;
  max-height: calc(66.66666667%);
  /*
-webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important;
*/
  flex-basis: calc(66.66666667%);
}
[class*="grid--y"] > .g--3of4 {
  max-height: 75%;
  /*
-webkit-flex: none !important;
        -ms-flex: none !important;
        flex: none !important;
*/
  flex-basis: 75%;
}
.g--by1 {
  -webkit-flex-grow: 1 !important;
  -ms-flex: 1 1 auto !important;
  flex-grow: 1 !important;
}
.g--by2 {
  -webkit-flex-grow: 2 !important;
  -ms-flex: 2 1 auto !important;
  flex-grow: 2 !important;
}
.g--by3 {
  -webkit-flex-grow: 3 !important;
  -ms-flex: 3 1 auto !important;
  flex-grow: 3 !important;
}
.g--by4 {
  -webkit-flex-grow: 4 !important;
  -ms-flex: 4 1 auto !important;
  flex-grow: 4 !important;
}
.g--by5 {
  -webkit-flex-grow: 5 !important;
  -ms-flex: 5 1 auto !important;
  flex-grow: 5 !important;
}
.g--order1 {
  -webkit-box-ordinal-group: 2;
  -moz-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
.g--order2 {
  -webkit-box-ordinal-group: 3;
  -moz-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}
.g--scroll {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/*******************************************************************************
GRID EXTENSIONS
*******************************************************************************/
.lt-ie10 .grid {
  max-width: 100%;
  display: table !important;
}
.lt-ie10 .grid--y > .grid-cell,
.lt-ie10 .grid--y > .grid {
  display: table-row !important;
}
.lt-ie10 .grid-cell {
  display: table-cell !important;
}
.lt-ie10 .grid--main-end {
  text-align: right;
  text-align: end;
}
